@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 15px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-philosopher: var(--font-philosopher);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow: hidden;
  width: 100%;
}

html {
  overflow-y: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.container {
  @apply mx-auto max-w-[1262px];
}

.nav-link-active {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0));
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(139.77deg, rgb(192, 243, 255) 0%, rgb(126, 181, 247) 100%);
    pointer-events: none;
  }
}

.navbar {
  backdrop-filter: blur(12px);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    bottom: -1px;
    background-image: url('/nav-bg.png');
    background-size: 1560px;
    background-position: center;
    opacity: 0.8;
    pointer-events: none;
  }
}

img {
  pointer-events: none;
}

.font-philosopher {
  letter-spacing: 0;
  font-weight: bold;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
}
